body{
    margin: 0px;
    padding: 0px;
}
h1{
    color: hsl(218, 73%, 57%);
}

.nav-bar ul{
    list-style-type:none;
    background-color: hsl(0, 1%, 42%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.nav-bar a{
    color: aliceblue;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    
}

.nav-bar a:hover{
    background-color: hsl(0, 1%, 16%);
}

.nav-bar li{
    float: right;
    display: flex;
    
}