.container{
    display:flex;

    border: 7px solid black;
    padding: 10px;
    height: 90vh;
    
}
.box{
    width:150px ;
    height: 100px;
    font-size: 5em;
    text-align: center;
    border-radius: 15px;

}
#box1{
    background-color:rgb(251, 67, 67);
   
}
#box2{
    background-color:rgb(67, 251, 110);
}
#box3{
    background-color:rgb(67, 125, 251);
    order:-1;
    
}
#box4{
    background-color:rgb(251, 233, 67);
}
